
body{
background-color: #000000;
color: #eeeeee;
padding: 6px 6px 6px 6px;
max-width: 100vw;
display: flex;
justify-content: center;
}

input[type=checkout]{
background-color: transparent;
border: 2px solid #eeeeee;
}

div{
display: flex;
justify-content: space-around;
align-items: center;
box-sizing: border-box;
text-align: justify;
}

.pageWrap{
display: table;
}

#enable{
justify-content: flex-end;
}

.openToolTip{
display: flex;
justify-content: space-around;
align-items: center;
}

.toolTip{
background-color: #333333;
justify-content: center;
align-items: center;
margin-bottom: 8px;
font-size: small;
}


.olBox{
display: block;
border: 1px solid #eeeeee;
border-radius: 8px;
padding-bottom: 4px;
margin-top:8px;
}


.header{
justify-content: center;
align-items: flex-start;
padding: 4px 6px 4px 6px;
background-color: #333333;
border-radius: 8px 8px 0px 0px;
flex-direction: column;
}

.header > div {
}

.subHeader{
padding: 2px 6px 2px 6px;
justify-content: flex-start;
align-items: center;
}

.chckLst{
padding: 0px 10px 6px 10px;
justify-content: flex-start;
}

.chckLst > .fRow{
margin-right: 10px;
}

.fRow > input[type="checkbox"]{
margin-left: 6px;
}



@keyframes opac{
0%{opacity:1; max-height: 200px; margin-bottom: 20px;}
99%{opacity:0; max-height: 200px; margin-bottom: 20px;}
100%{max-height: 0px; margin-bottom: 0px;}
}
